---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        title: "Multiplicador de Panes y Peces",
        company: "Tech Solutions Inc.",
        location: "San Francisco, CA",
        date: "June 2020 - Present",
        description:
            "Multipliqué los panes y los peces para alimentar a multitudes, desarrollando soluciones innovadoras en el campo de la tecnología.",
    },
    {
        title: "Conversor de Agua en Vino",
        company: "Creative Agency",
        location: "New York, NY",
        date: "January 2018 - May 2020",
        description:
            "Transformé agua en vino mediante el uso de técnicas avanzadas de fermentación y destilación, mejorando la calidad del producto final.",
    },
    {
        title: "Pescador Milagroso",
        company: "Startup Hub",
        location: "Remote",
        date: "June 2017 - August 2017",
        description:
            "Desarrollé una aplicación que permitió a los pescadores locales capturar peces de manera más eficiente, utilizando técnicas de pesca sostenibles y respetuosas con el medio ambiente.",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
