<header class="flex justify-between w[1024px] mx_auto items-center p-6">
    <img src="./favicon.svg" alt="Logotipo Personal" class="h-12" />
    <span
        class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
    >
        <nav class="flex flex-row gap-10 text-md opacity-85">
            <a href="/">Home</a>
            <a href="/about">Mi Historia</a>
            <a href="/projects">Proyectos</a>
            <a href="/contact">Contáctame</a>
        </nav>
    </span>
</header>
